body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: white;
    color: black;

}

#bookmarksList {
    margin-top: 20px;
}

.bookmark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.bookmark a {
    color: #007bff;
    text-decoration: none;
}

.bookmark a:hover {
    text-decoration: underline;
}

.bookmark button {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.bookmark button:hover {
    background: #b02a37;
}
